<main class="d-flex flex-column p-4">
    <h1>Create Category</h1>

    <form class="mt-4 d-flex flex-column gap-4 align-items-start" id="create">
        <fieldset class="d-flex flex-column">
            <label for="name">Category name</label>

            <input id="name" name="name" type="text" placeholder="Type category name" autocomplete="off" />
        </fieldset>

        <div>
            <button id="cancel" type="button" class="btn btn-outline-primary btn-sm">Cancel</button>

            <button type="submit" class="btn btn-success btn-sm">Create</button>
        </div>
    </form>
</main>

@section scripts
{
    <script>
        $(document).ready(() => {
            $('#create').on('submit', event => {
                event.preventDefault();

                const body = {
                    name: event.target.name.value,
                };

                $.ajax({
                    url: '/api/ApiCategory',
                    data: JSON.stringify(body),
                    dataType: 'json',
                    method: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: _ => {
                        alert(`Category "${body.name}" created`);

                        location.replace('/Category');
                    },
                    error: err => {
                        alert(JSON.stringify(err.responseJSON));
                    },
                });
            });

            $('#cancel').click(_ => history.back());
        });
    </script>
}